# WHR DATA MUNGING - Extracting data per year

In [2]:
# import dependencies
import csv
import json
import requests
import pandas as pd
import numpy as np

In [3]:
# get csv files
whr = pd.read_csv('whr_raw.csv')

In [4]:
whr.rename(columns = {
    'Country name': 'country',
    'Year': 'year',
    'Life Ladder': 'ladder',
    'Log GDP per capita': 'log_gdp_per_capita',
    'Social support': 'social_support',
    'Healthy life expectancy at birth': 'healthy_life_expectancy',
    'Freedom to make life choices': 'freedom',
    'Generosity': 'generosity',
    'Perceptions of corruption': 'corruption',
    'Positive affect': 'positive_affect',
    'Negative affect': 'negative_affect',
    'Confidence in national government': 'trust_government',
    'Democratic Quality': 'democratic_quality',
    'Delivery Quality': 'delivery_quality',
    'Standard deviation of ladder by country-year': 'well_being_inequality_1',
    'Standard deviation/Mean of ladder by country-year': 'well_being_inequality_2'
}, inplace=True)
whr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 16 columns):
country                    1704 non-null object
year                       1704 non-null int64
ladder                     1704 non-null float64
log_gdp_per_capita         1676 non-null float64
social_support             1691 non-null float64
healthy_life_expectancy    1676 non-null float64
freedom                    1675 non-null float64
generosity                 1622 non-null float64
corruption                 1608 non-null float64
positive_affect            1685 non-null float64
negative_affect            1691 non-null float64
trust_government           1530 non-null float64
democratic_quality         1558 non-null float64
delivery_quality           1559 non-null float64
well_being_inequality_1    1704 non-null float64
well_being_inequality_2    1704 non-null float64
dtypes: float64(14), int64(1), object(1)
memory usage: 213.1+ KB

In [5]:
# round to 2 decimals where appropriate
whr_round = whr[['ladder', 'log_gdp_per_capita', 'social_support', 'healthy_life_expectancy', 'freedom', 'generosity',
               'corruption', 'positive_affect', 'negative_affect', 'trust_government', 'democratic_quality',
               'delivery_quality', 'well_being_inequality_1', 'well_being_inequality_2']]
whr_round = whr_round.round(2)
whr_round.head()

,ladder,log_gdp_per_capita,social_support,healthy_life_expectancy,freedom,generosity,corruption,positive_affect,negative_affect,trust_government,democratic_quality,delivery_quality,well_being_inequality_1,well_being_inequality_2
0,3.72,7.17,0.45,50.80,0.72,0.18,0.88,0.52,0.26,0.61,-1.93,-1.66,1.77,0.48
1,4.40,7.33,0.55,51.20,0.68,0.20,0.85,0.58,0.24,0.61,-2.04,-1.64,1.72,0.39
2,4.76,7.39,0.54,51.60,0.60,0.13,0.71,0.62,0.28,0.30,-1.99,-1.62,1.88,0.39
3,3.83,7.42,0.52,51.92,0.50,0.17,0.73,0.61,0.27,0.31,-1.92,-1.62,1.79,0.47
4,3.78,7.52,0.52,52.24,0.53,0.24,0.78,0.71,0.27,0.44,-1.84,-1.40,1.80,0.48

In [ ]:
whr = pd.concat([whr[['country', 'year']], whr_round], axis=1)
whr.head()

In [ ]:
# create whr by year
whr_2018 = whr[whr.year == 2018].reset_index(drop=True)
whr_2017 = whr[whr.year == 2017].reset_index(drop=True)
whr_2016 = whr[whr.year == 2016].reset_index(drop=True)
whr_2015 = whr[whr.year == 2015].reset_index(drop=True)
whr_2014 = whr[whr.year == 2014].reset_index(drop=True)
whr_2013 = whr[whr.year == 2013].reset_index(drop=True)
whr_2012 = whr[whr.year == 2012].reset_index(drop=True)
whr_2011 = whr[whr.year == 2011].reset_index(drop=True)
whr_2010 = whr[whr.year == 2010].reset_index(drop=True)
whr_2009 = whr[whr.year == 2009].reset_index(drop=True)
whr_2008 = whr[whr.year == 2008].reset_index(drop=True)
whr_2007 = whr[whr.year == 2007].reset_index(drop=True)
whr_2006 = whr[whr.year == 2006].reset_index(drop=True)
whr_2005 = whr[whr.year == 2005].reset_index(drop=True)

In [ ]:
whr_2018.sort_values(by='ladder', ascending=False, inplace=True)
whr_2018.reset_index(drop=True)

In [ ]:
rank = []
nb = len(whr_2018)
for i in range(nb):
    rank.append(i+1)
    i += 1
whr_2018['rank'] = rank
whr_2018.reset_index(drop=True)

In [ ]:
whr_2017.sort_values(by='ladder', ascending=False, inplace=True)
whr_2017.reset_index(drop=True)

In [ ]:
rank = []
nb = len(whr_2017)
for i in range(nb):
    rank.append(i+1)
    i += 1
whr_2017['rank'] = rank
whr_2017.reset_index(drop=True)

In [ ]:
whr_2016.sort_values(by='ladder', ascending=False, inplace=True)
whr_2016.reset_index(drop=True)

In [ ]:
rank = []
nb = len(whr_2016)
for i in range(nb):
    rank.append(i+1)
    i += 1
whr_2016['rank'] = rank
whr_2016.reset_index(drop=True)

In [ ]:
whr_2015.sort_values(by='ladder', ascending=False, inplace=True)
whr_2015.reset_index(drop=True)

In [ ]:
rank = []
nb = len(whr_2015)
for i in range(nb):
    rank.append(i+1)
    i += 1
whr_2015['rank'] = rank
whr_2015.reset_index(drop=True)

In [ ]:
whr_2014.sort_values(by='ladder', ascending=False, inplace=True)
whr_2014.reset_index(drop=True)

In [ ]:
rank = []
nb = len(whr_2014)
for i in range(nb):
    rank.append(i+1)
    i += 1
whr_2014['rank'] = rank
whr_2014.reset_index(drop=True)

In [ ]:
whr_2013.sort_values(by='ladder', ascending=False, inplace=True)
whr_2013.reset_index(drop=True)

In [ ]:
rank = []
nb = len(whr_2013)
for i in range(nb):
    rank.append(i+1)
    i += 1
whr_2013['rank'] = rank
whr_2013.reset_index(drop=True)

In [ ]:
whr_2012.sort_values(by='ladder', ascending=False, inplace=True)
whr_2012.reset_index(drop=True)

In [ ]:
rank = []
nb = len(whr_2012)
for i in range(nb):
    rank.append(i+1)
    i += 1
whr_2012['rank'] = rank
whr_2012.reset_index(drop=True)

In [ ]:
whr_2011.sort_values(by='ladder', ascending=False, inplace=True)
whr_2011.reset_index(drop=True)

In [ ]:
rank = []
nb = len(whr_2011)
for i in range(nb):
    rank.append(i+1)
    i += 1
whr_2011['rank'] = rank
whr_2011.reset_index(drop=True)

In [ ]:
whr_2010.sort_values(by='ladder', ascending=False, inplace=True)
whr_2010.reset_index(drop=True)

In [ ]:
rank = []
nb = len(whr_2010)
for i in range(nb):
    rank.append(i+1)
    i += 1
whr_2010['rank'] = rank
whr_2010.reset_index(drop=True)

In [ ]:
whr_2009.sort_values(by='ladder', ascending=False, inplace=True)
whr_2009.reset_index(drop=True)

In [ ]:
rank = []
nb = len(whr_2009)
for i in range(nb):
    rank.append(i+1)
    i += 1
whr_2009['rank'] = rank
whr_2009.reset_index(drop=True)

In [ ]:
whr_2008.sort_values(by='ladder', ascending=False, inplace=True)
whr_2008.reset_index(drop=True)

In [ ]:
rank = []
nb = len(whr_2008)
for i in range(nb):
    rank.append(i+1)
    i += 1
whr_2008['rank'] = rank
whr_2008.reset_index(drop=True)

In [ ]:
whr_2007.sort_values(by='ladder', ascending=False, inplace=True)
whr_2007.reset_index(drop=True)

In [ ]:
rank = []
nb = len(whr_2007)
for i in range(nb):
    rank.append(i+1)
    i += 1
whr_2007['rank'] = rank
whr_2007.reset_index(drop=True)

In [ ]:
whr_2006.sort_values(by='ladder', ascending=False, inplace=True)
whr_2006.reset_index(drop=True)

In [ ]:
rank = []
nb = len(whr_2006)
for i in range(nb):
    rank.append(i+1)
    i += 1
whr_2006['rank'] = rank
whr_2006.reset_index(drop=True)

In [ ]:
whr_2005.sort_values(by='ladder', ascending=False, inplace=True)
whr_2005.reset_index(drop=True)

In [ ]:
rank = []
nb = len(whr_2005)
for i in range(nb):
    rank.append(i+1)
    i += 1
whr_2005['rank'] = rank
whr_2005.reset_index(drop=True)

In [ ]:
#df = pd.merge(whr, countries, left_on = 'country', right_on = 'country', how = 'left')
#c = pd.concat([a,b],ignore_index=True)
whr_all_years = pd.concat([whr_2018, whr_2017, whr_2016, whr_2015, whr_2014, whr_2013, whr_2012, whr_2011, whr_2010,
                           whr_2009, whr_2008, whr_2007, whr_2006, whr_2005], ignore_index=True)
print(whr_all_years.info())
print(whr.info())

# save all whr files to csv
whr_2018.to_csv('whr_2018.csv')
whr_2017.to_csv('whr_2017.csv')
whr_2016.to_csv('whr_2016.csv')
whr_2015.to_csv('whr_2015.csv')
whr_2014.to_csv('whr_2014.csv')
whr_2013.to_csv('whr_2013.csv')
whr_2012.to_csv('whr_2012.csv')
whr_2011.to_csv('whr_2011.csv')
whr_2010.to_csv('whr_2010.csv')
whr_2009.to_csv('whr_2009.csv')
whr_2008.to_csv('whr_2008.csv')
whr_2007.to_csv('whr_2007.csv')
whr_2006.to_csv('whr_2006.csv')
whr_2005.to_csv('whr_2005.csv')
whr_all_years.to_csv('whr_all_years.csv')

# WHR DATA MUNGING - Preparing whr_16to18 and whr_changes

In [ ]:
# get csv files
whr_16to18 = pd.read_csv('whr_16to18.csv')
whr_changes = pd.read_csv('whr_changes.csv')

In [ ]:
df = pd.merge(whr_16to18, whr_changes, left_on = 'Country', right_on = 'Country', how = 'left')
df.head()

In [ ]:
df.rename(columns = {
    'Country': 'country',
    'Happiness score': 'ladder',
    'Whisker-high_x': 'whisker-high',
    'Whisker-low_x': 'whisker-low',
    'Changes in happiness scores': 'changes_happiness'
}, inplace=True)
df.info()

In [ ]:
# Drop columns
df.drop('Dystopia (1.88) + residual', axis=1, inplace=True)
df.drop('Explained by: GDP per capita', axis=1, inplace=True)
df.drop('Explained by: Social support', axis=1, inplace=True)
df.drop('Explained by: Healthy life expectancy', axis=1, inplace=True)
df.drop('Explained by: Freedom to make life choices', axis=1, inplace=True)
df.drop('Explained by: Generosity', axis=1, inplace=True)
df.drop('Explained by: Perceptions of corruption', axis=1, inplace=True)
df.drop('Whisker-high_y', axis=1, inplace=True)
df.drop('Whisker-low_y', axis=1, inplace=True)
df.head()

In [ ]:
df.sort_values(by='ladder', ascending=False, inplace=True)
df.reset_index(drop=True)

In [ ]:
rank = []
nb = len(df)
for i in range(nb):
    rank.append(i+1)
    i += 1
df['rank'] = rank
df.reset_index(drop=True)

In [ ]:
# replace missing values in changes_happiness column with 0
df = df.fillna(0)

In [59]:
# merge with whr_all_years
whr_df = pd.merge(whr_all_years, df, left_on = 'country', right_on = 'country', how = 'outer')
whr_df.head()

,country,year,ladder_x,log_gdp_per_capita,social_support,healthy_life_expectancy,freedom,generosity,corruption,positive_affect,...,democratic_quality,delivery_quality,well_being_inequality_1,well_being_inequality_2,rank_x,ladder_y,whisker-high,whisker-low,changes_happiness,rank_y
0,Finland,2018,7.86,10.64,0.96,71.90,0.94,-0.13,0.20,0.78,...,NaN,NaN,1.43,0.18,1,7.769,7.83,7.708,0.097,1.0
1,Finland,2017,7.79,10.61,0.96,71.80,0.96,-0.01,0.19,0.79,...,1.31,2.00,1.42,0.18,1,7.769,7.83,7.708,0.097,1.0
2,Finland,2016,7.66,10.59,0.95,71.70,0.95,-0.03,0.25,0.80,...,1.27,1.98,1.48,0.19,1,7.769,7.83,7.708,0.097,1.0
3,Finland,2015,7.45,10.57,0.95,71.60,0.93,0.11,0.22,0.75,...,1.29,2.00,1.57,0.21,5,7.769,7.83,7.708,0.097,1.0
4,Finland,2014,7.38,10.57,0.95,71.36,0.93,-0.01,0.27,0.78,...,1.41,2.04,1.61,0.22,5,7.769,7.83,7.708,0.097,1.0

In [60]:
whr_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1704 entries, 0 to 1703
Data columns (total 22 columns):
country                    1704 non-null object
year                       1704 non-null int64
ladder_x                   1704 non-null float64
log_gdp_per_capita         1676 non-null float64
social_support             1691 non-null float64
healthy_life_expectancy    1676 non-null float64
freedom                    1675 non-null float64
generosity                 1622 non-null float64
corruption                 1608 non-null float64
positive_affect            1685 non-null float64
negative_affect            1691 non-null float64
trust_government           1530 non-null float64
democratic_quality         1558 non-null float64
delivery_quality           1559 non-null float64
well_being_inequality_1    1704 non-null float64
well_being_inequality_2    1704 non-null float64
rank_x                     1704 non-null int64
ladder_y                   1681 non-null float64
whisker-high               1681 non-null float64
whisker-low                1681 non-null float64
changes_happiness          1681 non-null float64
rank_y                     1681 non-null float64
dtypes: float64(19), int64(2), object(1)
memory usage: 306.2+ KB

whr_df.to_csv('whr_df.csv') # then work in excel to handle some missing values --> output is 'whr_clean.csv'

# Split whr_clean.csv file as needed

In [6]:
whr_clean = pd.read_csv('whr_clean.csv')

In [7]:
whr_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1700 entries, 0 to 1699
Data columns (total 19 columns):
country                    1700 non-null object
year                       1700 non-null int64
ladder                     1700 non-null float64
log_gdp_per_capita         1700 non-null float64
social_support             1700 non-null float64
healthy_life_expectancy    1700 non-null float64
freedom                    1700 non-null float64
generosity                 1700 non-null float64
corruption                 1700 non-null float64
positive_affect            1700 non-null float64
negative_affect            1700 non-null float64
well_being_inequality_1    1700 non-null float64
well_being_inequality_2    1700 non-null float64
rank                       1700 non-null int64
ladder_16to18              1681 non-null float64
whisker-high               1681 non-null float64
whisker-low                1681 non-null float64
changes_happiness          1681 non-null float64
rank_16to18                1681 non-null float64
dtypes: float64(16), int64(2), object(1)
memory usage: 252.4+ KB

In [8]:
# replace missing values in changes_happiness column with 0
whr_clean = whr_clean.fillna(0)

In [9]:
whr_clean_all_years = whr_clean[['country', 'year', 'rank', 'ladder', 'log_gdp_per_capita', 'social_support',
                                 'healthy_life_expectancy', 'freedom', 'generosity', 'corruption', 'positive_affect',
                                'negative_affect', 'well_being_inequality_1', 'changes_happiness']]
whr_clean_all_years.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1700 entries, 0 to 1699
Data columns (total 14 columns):
country                    1700 non-null object
year                       1700 non-null int64
rank                       1700 non-null int64
ladder                     1700 non-null float64
log_gdp_per_capita         1700 non-null float64
social_support             1700 non-null float64
healthy_life_expectancy    1700 non-null float64
freedom                    1700 non-null float64
generosity                 1700 non-null float64
corruption                 1700 non-null float64
positive_affect            1700 non-null float64
negative_affect            1700 non-null float64
well_being_inequality_1    1700 non-null float64
changes_happiness          1700 non-null float64
dtypes: float64(11), int64(2), object(1)
memory usage: 186.0+ KB

In [10]:
# create whr_clean by year
whr_clean_2018 = whr_clean_all_years[whr_clean_all_years.year == 2018].reset_index(drop=True)
whr_clean_2017 = whr_clean_all_years[whr_clean_all_years.year == 2017].reset_index(drop=True)
whr_clean_2016 = whr_clean_all_years[whr_clean_all_years.year == 2016].reset_index(drop=True)
whr_clean_2015 = whr_clean_all_years[whr_clean_all_years.year == 2015].reset_index(drop=True)
whr_clean_2014 = whr_clean_all_years[whr_clean_all_years.year == 2014].reset_index(drop=True)
whr_clean_2013 = whr_clean_all_years[whr_clean_all_years.year == 2013].reset_index(drop=True)
whr_clean_2012 = whr_clean_all_years[whr_clean_all_years.year == 2012].reset_index(drop=True)
whr_clean_2011 = whr_clean_all_years[whr_clean_all_years.year == 2011].reset_index(drop=True)
whr_clean_2010 = whr_clean_all_years[whr_clean_all_years.year == 2010].reset_index(drop=True)
whr_clean_2009 = whr_clean_all_years[whr_clean_all_years.year == 2009].reset_index(drop=True)
whr_clean_2008 = whr_clean_all_years[whr_clean_all_years.year == 2008].reset_index(drop=True)
whr_clean_2007 = whr_clean_all_years[whr_clean_all_years.year == 2007].reset_index(drop=True)
whr_clean_2006 = whr_clean_all_years[whr_clean_all_years.year == 2006].reset_index(drop=True)
whr_clean_2005 = whr_clean_all_years[whr_clean_all_years.year == 2005].reset_index(drop=True)

In [11]:
whr_clean_all_years = pd.concat([whr_clean_2018, whr_clean_2017, whr_clean_2016, whr_clean_2015, whr_clean_2014,
                                 whr_clean_2013, whr_clean_2012, whr_clean_2011, whr_clean_2010, whr_clean_2009,
                                 whr_clean_2008, whr_clean_2007, whr_clean_2006, whr_clean_2005], ignore_index=True)
whr_clean_all_years.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1700 entries, 0 to 1699
Data columns (total 14 columns):
country                    1700 non-null object
year                       1700 non-null int64
rank                       1700 non-null int64
ladder                     1700 non-null float64
log_gdp_per_capita         1700 non-null float64
social_support             1700 non-null float64
healthy_life_expectancy    1700 non-null float64
freedom                    1700 non-null float64
generosity                 1700 non-null float64
corruption                 1700 non-null float64
positive_affect            1700 non-null float64
negative_affect            1700 non-null float64
well_being_inequality_1    1700 non-null float64
changes_happiness          1700 non-null float64
dtypes: float64(11), int64(2), object(1)
memory usage: 186.0+ KB

# save all whr_clean files to csv
whr_clean_2018.to_csv('whr_2018.csv')
whr_clean_2017.to_csv('whr_2017.csv')
whr_clean_2016.to_csv('whr_2016.csv')
whr_clean_2015.to_csv('whr_2015.csv')
whr_clean_2014.to_csv('whr_2014.csv')
whr_clean_2013.to_csv('whr_2013.csv')
whr_clean_2012.to_csv('whr_2012.csv')
whr_clean_2011.to_csv('whr_2011.csv')
whr_clean_2010.to_csv('whr_2010.csv')
whr_clean_2009.to_csv('whr_2009.csv')
whr_clean_2008.to_csv('whr_2008.csv')
whr_clean_2007.to_csv('whr_2007.csv')
whr_clean_2006.to_csv('whr_2006.csv')
whr_clean_2005.to_csv('whr_2005.csv')
whr_clean_all_years.to_csv('whr_all_years.csv')

# Merge with country_info.csv to get the 3-letter country codes

In [13]:
countries = pd.read_csv('country_info.csv')
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 18 columns):
country      185 non-null object
ISO code     185 non-null object
OECD         185 non-null int64
CIS          185 non-null int64
NATO         185 non-null int64
EU           185 non-null int64
Schengen     185 non-null int64
Eurozone     185 non-null int64
ACP Group    185 non-null int64
CAN          185 non-null int64
APEC         185 non-null int64
BSEC         185 non-null int64
Caricom      185 non-null int64
EFTA         185 non-null int64
NAFTA        185 non-null int64
WTO          185 non-null int64
continent    185 non-null object
region       184 non-null object
dtypes: int64(14), object(4)
memory usage: 26.1+ KB

In [14]:
countries.rename(columns = {'ISO code': 'iso_code'}, inplace=True)
iso_codes = countries[['country', 'iso_code']]
iso_codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 2 columns):
country     185 non-null object
iso_code    185 non-null object
dtypes: object(2)
memory usage: 3.0+ KB

In [15]:
whr_clean_all_years = pd.read_csv('whr_all_years.csv')
whr_clean_all_years.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1700 entries, 0 to 1699
Data columns (total 15 columns):
Unnamed: 0                 1700 non-null int64
country                    1700 non-null object
year                       1700 non-null int64
rank                       1700 non-null int64
ladder                     1700 non-null float64
log_gdp_per_capita         1700 non-null float64
social_support             1700 non-null float64
healthy_life_expectancy    1700 non-null float64
freedom                    1700 non-null float64
generosity                 1700 non-null float64
corruption                 1700 non-null float64
positive_affect            1700 non-null float64
negative_affect            1700 non-null float64
well_being_inequality_1    1700 non-null float64
changes_happiness          1700 non-null float64
dtypes: float64(11), int64(3), object(1)
memory usage: 199.3+ KB

In [19]:
df = pd.merge(whr_clean_all_years, iso_codes, left_on = 'country', right_on = 'country', how = 'left')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1700 entries, 0 to 1699
Data columns (total 16 columns):
Unnamed: 0                 1700 non-null int64
country                    1700 non-null object
year                       1700 non-null int64
rank                       1700 non-null int64
ladder                     1700 non-null float64
log_gdp_per_capita         1700 non-null float64
social_support             1700 non-null float64
healthy_life_expectancy    1700 non-null float64
freedom                    1700 non-null float64
generosity                 1700 non-null float64
corruption                 1700 non-null float64
positive_affect            1700 non-null float64
negative_affect            1700 non-null float64
well_being_inequality_1    1700 non-null float64
changes_happiness          1700 non-null float64
iso_code                   1700 non-null object
dtypes: float64(11), int64(3), object(2)
memory usage: 225.8+ KB

In [20]:
# Drop column 'Unnamed: 0'
df.drop('Unnamed: 0', axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1700 entries, 0 to 1699
Data columns (total 15 columns):
country                    1700 non-null object
year                       1700 non-null int64
rank                       1700 non-null int64
ladder                     1700 non-null float64
log_gdp_per_capita         1700 non-null float64
social_support             1700 non-null float64
healthy_life_expectancy    1700 non-null float64
freedom                    1700 non-null float64
generosity                 1700 non-null float64
corruption                 1700 non-null float64
positive_affect            1700 non-null float64
negative_affect            1700 non-null float64
well_being_inequality_1    1700 non-null float64
changes_happiness          1700 non-null float64
iso_code                   1700 non-null object
dtypes: float64(11), int64(2), object(2)
memory usage: 212.5+ KB

df.to_csv('whr_data.csv')

# Combine with additional data from 'countries.json'

In [49]:
# dependencies
import json
import requests
import pandas as pd
import numpy as np

In [50]:
all_countries_url = "https://raw.githubusercontent.com/mledoze/countries/master/countries.json"
response = requests.get(all_countries_url).json()
len(response)

250

In [51]:
response[0]

{'name': {'common': 'Aruba',
  'official': 'Aruba',
  'native': {'nld': {'official': 'Aruba', 'common': 'Aruba'},
   'pap': {'official': 'Aruba', 'common': 'Aruba'}}},
 'tld': ['.aw'],
 'cca2': 'AW',
 'ccn3': '533',
 'cca3': 'ABW',
 'cioc': 'ARU',
 'independent': False,
 'status': 'officially-assigned',
 'currencies': {'AWG': {'name': 'Aruban florin', 'symbol': 'ƒ'}},
 'idd': {'root': '+2', 'suffixes': ['97']},
 'capital': ['Oranjestad'],
 'altSpellings': ['AW'],
 'region': 'Americas',
 'subregion': 'Caribbean',
 'languages': {'nld': 'Dutch', 'pap': 'Papiamento'},
 'translations': {'ces': {'official': 'Aruba', 'common': 'Aruba'},
  'deu': {'official': 'Aruba', 'common': 'Aruba'},
  'fra': {'official': 'Aruba', 'common': 'Aruba'},
  'hrv': {'official': 'Aruba', 'common': 'Aruba'},
  'ita': {'official': 'Aruba', 'common': 'Aruba'},
  'jpn': {'official': 'アルバ', 'common': 'アルバ'},
  'nld': {'official': 'Aruba', 'common': 'Aruba'},
  'por': {'official': 'Aruba', 'common': 'Aruba'},
  'rus': {'official': 'Аруба', 'common': 'Аруба'},
  'slk': {'official': 'Aruba', 'common': 'Aruba'},
  'spa': {'official': 'Aruba', 'common': 'Aruba'},
  'fin': {'official': 'Aruba', 'common': 'Aruba'},
  'est': {'official': 'Aruba', 'common': 'Aruba'},
  'zho': {'official': '阿鲁巴', 'common': '阿鲁巴'},
  'pol': {'official': 'Aruba', 'common': 'Aruba'},
  'urd': {'official': 'اروبا', 'common': 'اروبا'},
  'kor': {'official': '아루바', 'common': '아루바'}},
 'latlng': [12.5, -69.96666666],
 'demonym': 'Aruban',
 'landlocked': False,
 'borders': [],
 'area': 180,
 'flag': '🇦🇼'}

In [52]:
# Set up lists to hold reponse info:
common_name = []
official_name = []
tld = []
cca2 = []
ccn3 = []
cca3 = []
cioc = []
independent = []
capital = []
region = []
subregion = []
official_languages = []
latitude = []
longitude = []
demonym = []
landlocked = []
borders = []
area_sqkm = []
flag_emoji = []

# Populate the lists:
for item in response:
    common_name.append(item['name']['common'])
    official_name.append(item['name']['official'])
    tld.append(item['tld'])
    cca2.append(item['cca2'])
    ccn3.append(item['ccn3'])
    cca3.append(item['cca3'])
    cioc.append(item['cioc'])
    independent.append(item['independent'])
    capital.append(item['capital'])
    region.append(item['region'])
    subregion.append(item['subregion'])
    official_languages.append(item['languages'])
    latitude.append(item['latlng'][0])
    longitude.append(item['latlng'][1])
    demonym.append(item['demonym'])
    landlocked.append(item['landlocked'])
    borders.append(item['borders'])
    area_sqkm.append(item['area'])
    flag_emoji.append(item['flag'])

In [53]:
# Create a DataFrame from the lists
countries_dict = {
    "common_name": common_name,
    "official_name": official_name,
    "tld": tld,
    "cca2": cca2,
    "ccn3": ccn3,
    "cca3": cca3,
    "cioc": cioc,
    "independent": independent,
    "capital": capital,
    "region": region,
    "subregion": subregion,
    "official_languages": official_languages,
    "latitude": latitude,
    "longitude": longitude,
    "demonym": demonym,
    "landlocked": landlocked,
    "borders": borders,
    "area_sqkm": area_sqkm,
    "flag_emoji": flag_emoji
}
countries_data = pd.DataFrame(countries_dict)
countries_data.head()

,common_name,official_name,tld,cca2,ccn3,cca3,cioc,independent,capital,region,subregion,official_languages,latitude,longitude,demonym,landlocked,borders,area_sqkm,flag_emoji
0,Aruba,Aruba,[.aw],AW,533,ABW,ARU,False,[Oranjestad],Americas,Caribbean,"{'nld': 'Dutch', 'pap': 'Papiamento'}",12.500000,-69.966667,Aruban,False,[],180.0,🇦🇼
1,Afghanistan,Islamic Republic of Afghanistan,[.af],AF,004,AFG,AFG,True,[Kabul],Asia,Southern Asia,"{'prs': 'Dari', 'pus': 'Pashto', 'tuk': 'Turkm...",33.000000,65.000000,Afghan,True,"[IRN, PAK, TKM, UZB, TJK, CHN]",652230.0,🇦🇫
2,Angola,Republic of Angola,[.ao],AO,024,AGO,ANG,True,[Luanda],Africa,Middle Africa,{'por': 'Portuguese'},-12.500000,18.500000,Angolan,False,"[COG, COD, ZMB, NAM]",1246700.0,🇦🇴
3,Anguilla,Anguilla,[.ai],AI,660,AIA,,False,[The Valley],Americas,Caribbean,{'eng': 'English'},18.250000,-63.166667,Anguillian,False,[],91.0,🇦🇮
4,Åland Islands,Åland Islands,[.ax],AX,248,ALA,,False,[Mariehamn],Europe,Northern Europe,{'swe': 'Swedish'},60.116667,19.900000,Ålandish,False,[],1580.0,🇦🇽

In [54]:
# Clean up columns 'tld' and 'capital'

# expand countries_data.tld and countries_data.capital into their own dataframes
tlds = countries_data['tld'].apply(pd.Series)
capitals = countries_data['capital'].apply(pd.Series)

# replace countries_data.tld and countries_data.capital with first column of their respective dataframes
countries_data['tld'] = tlds[0]
countries_data['capital'] = capitals[0]

In [55]:
# Create number of borders column
countries_data['nb_borders'] = countries_data['borders'].apply(lambda x: len(x))

In [56]:
# Replace blanks with 'none' in cioc column
countries_data['cioc'] = countries_data['cioc'].replace('', 'none')

In [57]:
countries_data.head()

,common_name,official_name,tld,cca2,ccn3,cca3,cioc,independent,capital,region,subregion,official_languages,latitude,longitude,demonym,landlocked,borders,area_sqkm,flag_emoji,nb_borders
0,Aruba,Aruba,.aw,AW,533,ABW,ARU,False,Oranjestad,Americas,Caribbean,"{'nld': 'Dutch', 'pap': 'Papiamento'}",12.500000,-69.966667,Aruban,False,[],180.0,🇦🇼,0
1,Afghanistan,Islamic Republic of Afghanistan,.af,AF,004,AFG,AFG,True,Kabul,Asia,Southern Asia,"{'prs': 'Dari', 'pus': 'Pashto', 'tuk': 'Turkm...",33.000000,65.000000,Afghan,True,"[IRN, PAK, TKM, UZB, TJK, CHN]",652230.0,🇦🇫,6
2,Angola,Republic of Angola,.ao,AO,024,AGO,ANG,True,Luanda,Africa,Middle Africa,{'por': 'Portuguese'},-12.500000,18.500000,Angolan,False,"[COG, COD, ZMB, NAM]",1246700.0,🇦🇴,4
3,Anguilla,Anguilla,.ai,AI,660,AIA,none,False,The Valley,Americas,Caribbean,{'eng': 'English'},18.250000,-63.166667,Anguillian,False,[],91.0,🇦🇮,0
4,Åland Islands,Åland Islands,.ax,AX,248,ALA,none,False,Mariehamn,Europe,Northern Europe,{'swe': 'Swedish'},60.116667,19.900000,Ålandish,False,[],1580.0,🇦🇽,0

In [58]:
countries_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 20 columns):
common_name           250 non-null object
official_name         250 non-null object
tld                   249 non-null object
cca2                  250 non-null object
ccn3                  250 non-null object
cca3                  250 non-null object
cioc                  250 non-null object
independent           249 non-null object
capital               249 non-null object
region                250 non-null object
subregion             250 non-null object
official_languages    250 non-null object
latitude              250 non-null float64
longitude             250 non-null float64
demonym               250 non-null object
landlocked            250 non-null bool
borders               250 non-null object
area_sqkm             250 non-null float64
flag_emoji            250 non-null object
nb_borders            250 non-null int64
dtypes: bool(1), float64(3), int64(1), object(15)
memory usage: 37.4+ KB

countries_data.to_csv('countries_data.csv')

In [61]:
df_more = pd.merge(df, countries_data, left_on = 'iso_code', right_on = 'cca3', how = 'inner')
df_more.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1694 entries, 0 to 1693
Data columns (total 35 columns):
country                    1694 non-null object
year                       1694 non-null int64
rank                       1694 non-null int64
ladder                     1694 non-null float64
log_gdp_per_capita         1694 non-null float64
social_support             1694 non-null float64
healthy_life_expectancy    1694 non-null float64
freedom                    1694 non-null float64
generosity                 1694 non-null float64
corruption                 1694 non-null float64
positive_affect            1694 non-null float64
negative_affect            1694 non-null float64
well_being_inequality_1    1694 non-null float64
changes_happiness          1694 non-null float64
iso_code                   1694 non-null object
common_name                1694 non-null object
official_name              1694 non-null object
tld                        1682 non-null object
cca2                       1694 non-null object
ccn3                       1694 non-null object
cca3                       1694 non-null object
cioc                       1694 non-null object
independent                1682 non-null object
capital                    1694 non-null object
region                     1694 non-null object
subregion                  1694 non-null object
official_languages         1694 non-null object
latitude                   1694 non-null float64
longitude                  1694 non-null float64
demonym                    1694 non-null object
landlocked                 1694 non-null bool
borders                    1694 non-null object
area_sqkm                  1694 non-null float64
flag_emoji                 1694 non-null object
nb_borders                 1694 non-null int64
dtypes: bool(1), float64(14), int64(3), object(17)
memory usage: 464.9+ KB

In [62]:
# replace missing values with string 'n/a'
df_more = df_more.fillna('n/a')
df_more.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1694 entries, 0 to 1693
Data columns (total 35 columns):
country                    1694 non-null object
year                       1694 non-null int64
rank                       1694 non-null int64
ladder                     1694 non-null float64
log_gdp_per_capita         1694 non-null float64
social_support             1694 non-null float64
healthy_life_expectancy    1694 non-null float64
freedom                    1694 non-null float64
generosity                 1694 non-null float64
corruption                 1694 non-null float64
positive_affect            1694 non-null float64
negative_affect            1694 non-null float64
well_being_inequality_1    1694 non-null float64
changes_happiness          1694 non-null float64
iso_code                   1694 non-null object
common_name                1694 non-null object
official_name              1694 non-null object
tld                        1694 non-null object
cca2                       1694 non-null object
ccn3                       1694 non-null object
cca3                       1694 non-null object
cioc                       1694 non-null object
independent                1694 non-null object
capital                    1694 non-null object
region                     1694 non-null object
subregion                  1694 non-null object
official_languages         1694 non-null object
latitude                   1694 non-null float64
longitude                  1694 non-null float64
demonym                    1694 non-null object
landlocked                 1694 non-null bool
borders                    1694 non-null object
area_sqkm                  1694 non-null float64
flag_emoji                 1694 non-null object
nb_borders                 1694 non-null int64
dtypes: bool(1), float64(14), int64(3), object(17)
memory usage: 464.9+ KB

In [63]:
# create whr by year
whr_2018 = df_more[df_more.year == 2018].reset_index(drop=True)
whr_2017 = df_more[df_more.year == 2017].reset_index(drop=True)
whr_2016 = df_more[df_more.year == 2016].reset_index(drop=True)
whr_2015 = df_more[df_more.year == 2015].reset_index(drop=True)
whr_2014 = df_more[df_more.year == 2014].reset_index(drop=True)
whr_2013 = df_more[df_more.year == 2013].reset_index(drop=True)
whr_2012 = df_more[df_more.year == 2012].reset_index(drop=True)
whr_2011 = df_more[df_more.year == 2011].reset_index(drop=True)
whr_2010 = df_more[df_more.year == 2010].reset_index(drop=True)
whr_2009 = df_more[df_more.year == 2009].reset_index(drop=True)
whr_2008 = df_more[df_more.year == 2008].reset_index(drop=True)
whr_2007 = df_more[df_more.year == 2007].reset_index(drop=True)
whr_2006 = df_more[df_more.year == 2006].reset_index(drop=True)
whr_2005 = df_more[df_more.year == 2005].reset_index(drop=True)

# save all whr files to csv
whr_2018.to_csv('whr_2018.csv')
whr_2017.to_csv('whr_2017.csv')
whr_2016.to_csv('whr_2016.csv')
whr_2015.to_csv('whr_2015.csv')
whr_2014.to_csv('whr_2014.csv')
whr_2013.to_csv('whr_2013.csv')
whr_2012.to_csv('whr_2012.csv')
whr_2011.to_csv('whr_2011.csv')
whr_2010.to_csv('whr_2010.csv')
whr_2009.to_csv('whr_2009.csv')
whr_2008.to_csv('whr_2008.csv')
whr_2007.to_csv('whr_2007.csv')
whr_2006.to_csv('whr_2006.csv')
whr_2005.to_csv('whr_2005.csv')
df_more.to_csv('whr_all_years.csv')

In [74]:
whr_2016.ladder.quantile(.1)

4.01

In [64]:
df_more.subregion.unique()

array(['Southern Asia', 'Southern Europe', 'Northern Africa',
       'South America', 'Western Asia', 'Australia and New Zealand',
       'Western Europe', 'Eastern Europe', 'Western Africa',
       'Southern Africa', 'Eastern Africa', 'South-Eastern Asia',
       'Middle Africa', 'North America', 'Eastern Asia',
       'Central America', 'Northern Europe', 'Caribbean', 'Central Asia',
       'Central Europe'], dtype=object)

In [65]:
df_more.region.unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)